---
{% if controller_group in group_names %}
cluster-init: true
https-listen-port: {{ https_port }}
{% if flannel_backend in ['none', 'vxlan', 'ipsec', 'host-gw', 'wireguard-native']%}
flannel-backend: {{ flannel_backend }}
{% else %}
flannel-backend: vxlan
{% endif %}
{% for val in ['scheduler', 'cloud-controller', 'kube-proxy', 'network-policy', 'helm-controller'] %}
{% if val in disable_components %}
disable-{{ val }}: true
{% else %}
disable-{{ val }}: false
{% endif %}
{% endfor %}
{% if disable_addons | length is gt 0 %}
disable:
{% for val in disable_addons %}
  - {{ val }}
{% endfor %}
{% endif %}
{% if not server in groups[controller_group] %}
tls-san: {{ server }}
{% endif %}
kubelet-arg: node-status-update-frequency=4s
kube-controller-manager-arg: node-monitor-period=4s
kube-controller-manager-arg: node-monitor-grace-period=16s
kube-controller-manager-arg: pod-eviction-timeout=20s
kube-apiserver-arg: default-not-ready-toleration-seconds=20
kube-apiserver-arg: default-unreachable-toleration-seconds=20
node-label: node.kubernetes.io/role=controller
{% endif %}
